<div data-controller="counter" class="flex-center mt-4">
  <div class="counter">
    <span data-target="counter.count"><%= @restaurant_count %></span>
  </div>

  <button data-action="click->counter#refresh" class="btn btn-outline-secondary">Refresh counter</button>
</div>
